* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: merri;
  src: url(../font/Merriweather-Regular.ttf);
}
@font-face {
  font-family: bebasNeue;
  src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: dancingScript;
  src: url(../font/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: pacifico;
  src: url(../font/Pacifico-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: futuraNew;
  src: url(../font/FuturaTSNew.ttf);
}

@font-face {
  font-family: openSans;
  src: url(../font/OpenSans.ttf);
}

body {
  font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4f4f4;
}

nav {
  display: flex;
  background-color: #f5f3f4;
  justify-content: space-around;
  padding: 20px 0;
  max-height: 70px;
  position: sticky;
  z-index: 999;
  top: 0;
  bottom: auto;
  align-items: center;
}

.logo {
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 1rem;
}

.navbar-link-container {
  min-width: 40%;
}

.navbar-link {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav ul li a {
  color: brown;
  font-size: 1rem;
  cursor: pointer;
}

#header-img {
  background-image: url(../image/homepage-image.jpg);
  background-color: rgb(0, 0, 0, 0.66);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.header-background {
  display: flex;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header-container {
  width: 90%;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  transition: 0.5s;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-desc {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 500;
}

.about-section {
  display: flex;
  justify-content: center;
  min-height: 580px;
}

.about-container {
  width: 75%;
  margin: 140px 60px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

.about-content {
  text-align: center;
  width: calc(100% / 2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-title {
  font-size: 3rem;
  line-height: 80px;
  font-weight: bold;
  padding-bottom: 20px;
}

.about-title span {
  color: #895b48;
}

.about-desc {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 500;
  text-align: justify;
}

.about-image {
  background-image: url(../image/image2.png);
  width: calc(100% / 2);
  background-position: center;
  background-size: cover;
}

.footer {
  display: flex;
  min-height: 400px;
  background-color: #4a272e;
  justify-content: space-between;
  flex-direction: column;
}

.footer-container {
  display: flex;
  padding: 3% 5%;
  height: 350px;
}

.footer-section {
  display: flex;
  flex-direction: row;
}

.footer-sizing {
  width: calc(100% / 3);
}

.footer-title {
  font-size: 1.5rem;
  color: #ae825d;
  font-weight: 900;
  margin-bottom: 20px;
}

.footer-contact {
  margin-right: 10px;
  border-right: 1px solid #f5f3f4;
  color: #f5f3f4;
}

.fc-title {
  font-size: 1rem;
  font-weight: 900;
}
.fc-desc {
  font-size: 1rem;
  font-weight: 400;
}

.contact {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
}

.footer-links {
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid #f5f3f4;
  color: #f5f3f4;
}

.footer-socialmed {
  margin-left: 10px;
  color: #f5f3f4;
}

.footer-credit {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #696d77;
}

.credit-container {
  display: flex;
  padding-left: 5%;
  align-items: center;
}

.form-reservasi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: #ae825d;
  max-width: 900px;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
  margin: 3rem 1rem;
  color: white;
}

.form-header {
  font-weight: 600;
  font-size: 2rem;
}

.form-header::before {
  content: "";
  position: absolute;
  left: auto;
  top: 185px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #ffffff;
}

.form-container form {
  position: relative;
  margin: 1rem 0;
  min-height: 500px;
}

.form-title {
  margin-top: 2rem;
}

.form-details {
  font-weight: 500;
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.form-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 8px 0;
}

.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.input-field input,
select {
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-top: 5px;
  padding: 0 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

/* pesan error form */
.error-msg {
  width: 50%;
  font-size: 13px;
  margin-top: 20px;
  padding: 10px;
  color: #820900;
  border: 1px solid #820900;
  background-color: rgba(255, 170, 170, 0.75);
  border-radius: 8px;
  display: none;
}

.button {
  margin-top: 1.5rem;
  display: flex;
}

.btn-primary {
  background-color: #4a272e;
  color: white;
  margin-right: 10px;
  border-style: none;
  border-radius: 5px;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 500;
}

.btn-primary:hover {
  transition: 0.3s linear;
  color: white;
  background-color: #696d77;
  border-radius: 5px;
}

.fadeInUp {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animated1 {
  animation-duration: 1.5s;
}

.animated2 {
  animation-duration: 2s;
}

.room-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.room-header span {
  color: #895b48;
}

.room-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.rc-left {
  width: calc(100% / 2 - 15px);
  height: inherit;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.rc-right {
  width: calc(100% / 2 - 15px);
  height: inherit;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.room-img-cont {
  height: 250px;
  margin: -10px;
  border-radius: 5px;
}

.room-content-cont {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.room-title {
  font-size: 1.5rem;
  color: #303030;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.room-desc {
  font-size: 1rem;
  color: #303030;
  font-weight: 100;
  text-align: justify;
}

.room-pricing-cont {
  list-style: none;
  margin-top: 20px;
  font-size: 1rem;
  color: #303030;
  font-weight: 400;
  text-align: justify;
  border-top: 2px solid #303030;
}

.room-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.room-price div {
  font-size: 1.5rem;
  color: #303030;
  font-weight: 400;
}

.room-1 {
  background-image: url(../image/homepage-image.jpg);
  background-color: rgb(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.meeting-room-section {
  min-height: 300px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 60px;
  align-items: center;
  flex-direction: column;
}

.meeting-room-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.meeting-room-header span {
  color: #895b48;
}

.meeting-room-container {
  width: 75%;
  min-height: 350px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.mr-img-1 {
  background-image: url(../image/meeting-room-7.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}
.mr-img-2 {
  background-image: url(../image/meeting-room-6.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}
.mr-img-3 {
  background-image: url(../image/meeting-room-5.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.mr-left {
  justify-content: left;
}

.mr-right {
  justify-content: right;
}

.mr-content {
  width: 40%;
  min-height: inherit;
  padding: 25px;
  background-color: rgba(74, 39, 46, 0.8);
  color: #f5f3f4;
  border-radius: 5px;
  backdrop-filter: blur(7px);
}

.mr-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.mr-desc {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  text-align: justify;
}
