* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: merri;
  src: url(../font/Merriweather-Regular.ttf);
}
@font-face {
  font-family: bebasNeue;
  src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: dancingScript;
  src: url(../font/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: pacifico;
  src: url(../font/Pacifico-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: futuraNew;
  src: url(../font/FuturaTSNew.ttf);
}

@font-face {
  font-family: openSans;
  src: url(../font/OpenSans.ttf);
}

body {
  font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5f3f4;
}

nav {
  display: flex;
  background-color: #f5f3f4;
  justify-content: space-around;
  padding: 20px 0;
  max-height: 70px;
  position: sticky;
  z-index: 999;
  top: 0;
  bottom: auto;
  align-items: center;
}

.logo {
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 1rem;
}

.navbar-link-container {
  min-width: 40%;
}

.navbar-link {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav ul li a {
  color: brown;
  font-size: 1rem;
}

#header-img {
  background-image: url(../image/homepage-image.jpg);
  background-color: rgb(0, 0, 0, 0.66);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.header-background {
  display: flex;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header-container {
  width: 90%;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  transition: 0.5s;
}

.title {
  font-size: 2rem;
  line-height: 80px;
  font-weight: 500;
}

.title-desc {
  font-size: 1rem;
  line-height: 25px;
  font-weight: 500;
}

.about-us {
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

.about-container {
  width: 90%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.container > table {
  padding: 24px;
}

.footer {
  display: flex;
  min-height: 400px;
  background-color: #4a272e;
  justify-content: space-between;
  flex-direction: column;
}

.footer-container {
  display: flex;
  padding: 3% 5%;
  height: 350px;
}

.footer-section {
  display: flex;
  flex-direction: row;
}

.footer-sizing {
  width: calc(100% / 3);
}

.footer-contact {
  margin-right: 10px;
  border-right: 1px solid #f5f3f4;
  color: #f5f3f4;
}

.footer-links {
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid #f5f3f4;
  color: #f5f3f4;
}

.footer-socialmed {
  margin-left: 10px;
  color: #f5f3f4;
}

.footer-credit {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #696d77;
}

.credit-container {
  display: flex;
  padding-left: 5%;
  align-items: center;
}

.form-reservasi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: blue;
  max-width: 900px;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
  margin: 3rem 1rem;
  color: white;
}

.form-header {
  font-weight: 600;
  font-size: 2rem;
}

.form-header::before {
  content: "";
  position: absolute;
  left: auto;
  top: 185px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #ffffff;
}

.form-container form {
  position: relative;
  margin: 1rem 0;
  min-height: 500px;
}

.form-title {
  margin-top: 2rem;
}

.form-details {
  font-weight: 500;
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.form-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 8px 0;
}

.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.input-field input,
select {
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-top: 5px;
  padding: 0 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.button {
  margin-top: 1.5rem;
  display: flex;
}
.btn-primary {
  background-color: #ae825d;
  color: white;
  margin-right: 10px;
  border-style: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.btn-primary:hover {
  transition: 0.3s linear;
  color: white;
  background-color: #4a272e;
  border-radius: 5px;
  padding: 15px 20px;
}

.fadeInUp {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animated1 {
  animation-duration: 1.5s;
}

.animated2 {
  animation-duration: 2s;
}

.room-suites {
  display: flex;
  min-height: 40vh;
  background-color: #ae825d;
}

.room-container-small {
  display: flex;
  min-width: 50%;
}

.rc-small {
  min-width: calc(100% / 2);
}

.room-container-big {
  min-width: 50%;
  display: flex;
}

.room-layout {
  display: flex;
  padding: 2%;
}

.room-layout-img {
  background-image: url(../image/homepage-image.jpg);
  background-color: rgb(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-position: center;
  width: 100%;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
}

.room-layout-text {
  padding: 5%;
}

.room-layout-img:hover {
  background-color: rgb(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
